@CHARSET "UTF-8";

html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}


#header {
    height: 120px;
}

#line{
    width: 100%;
    height:30px;
  }

#logo {
    float:left;
    height: 88px;
    width: 200px;
}

#searchLine
{
   position: relative;
    margin-top: 30px ;
}

#footer
{
    clear: left;
    position : absolute;
    width: 895px;
    height: 20px;
    line-height: 20px;
    bottom: 0px;
    padding-left: 5px;
    margin: 6px;
    padding-bottom: 12px;
}

.container
{
  width: 100%;
  height:auto  ;
}

.borderLine
{
    position: relative;
    width: 100%;
    height: 35px;
}

.content
{
    width: 500px;
    margin-left: 200px ;
}

#button{
    margin-top: 5px;
}
