@CHARSET "UTF-8";

#line{
    background: #2D2D2D;
    border-bottom:solid 1px #000000 ;
}

#logo {
    background: url(../img/logo.png) no-repeat;
}

#footer{
    color: #99e;
    font-family: verdana, arial, sans-serif;
    letter-spacing: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 1.1;
}

.borderLine
{
    border-bottom: #EBEBEB solid 1px;
    border-top: #EBEBEB solid 1px;
    background: white;
}
.content
{
    font-family: verdana, arial, sans-serif;
    letter-spacing: normal;
    font-size: 14px;
    text-align: justify;
    line-height: 1.1;
}

#searchInput
{
    color:#999999;
}